<h1><%= title %></h1>
<p>Search for composers and their famous pieces:</p>
<ul>
  <li><a href="/composers"><%= `Composers: ${composersCount}` %></a></li>
  <li><a href="/pieces"><%= `Pieces: ${pieceCount}` %></a></li>
</ul>
